.iframe {
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
    z-index: 1000;
    height: 100%;
    width:121.5%;
    position:fixed;
    top:0px;
    left:-35px;
    right:0px;
    bottom:0px
}